.grid-main {
   position: relative;
   top: -65px;
   height: 31vw;
   background-color: #e0e0e0;
   margin-top: 8vh;
}

.grid-main img {
   height: 31vw;
   width: 100%;
}

.grid-text {
   width: 40vw;
}
